*.pyc
.settings/org.eclipse.core.resources.prefs
.pydevproject
.swp
.DS_Store
.project
.idea/
*~
*#
.idea/*
*.swp
.tags
.tags_sorted_by_file
.pylint
.vscode
_amds
conf/settings_local.py
conf/settings_local*.py
.python-version
_ignored/
kdniao.egg-info
build/
dist
